---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <p class="date">{{ post.date | date: "%Y年%m月%d日に作成" }}</p>
      <div class="entry">
        {{ post.excerpt }}
      </div>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>



  {% if paginator.previous_page %}<a href="/{% if paginator.previous_page != 1 %}page{{ paginator.previous_page }}/{% endif %}">新しい記事へ</a>{% endif %}　　
  {% if paginator.next_page %}<a href="/page{{ paginator.next_page }}/">古い記事へ</a>{% endif %}
